{% extends 'base.html' %}

{% block styles %}
<link href="{{url_for('static', filename='css/userClassifiersPage.css')}}" rel="stylesheet">{% endblock %}
{% block title %} Classifier {% endblock %}


{% block body %}
{% include "navBars/adminNavBar.html" %}

<div class="container">
    <div class="row">
        <div class="col-sm">
            <input id="searchClassifier" placeholder="Search for classifier.." type="text">
            <form action="/updateDeployedClassifiers" method="post">
                <div id="classifierSection">
                    {%for classifier in classifierList%}
                    <div class="classList">
                        <input {%if classifier.isDeployed%}
                               checked
                               {%endif%}
                               name="classifierCheckBox"
                               type="checkbox" value="{{classifier.name}}">
                        <label onclick="showDetails('{{classifier.name}}')">
                            {{classifier.name}}
                        </label>
                    </div>
                    {%endfor%}
                </div>
                <button type="submit">Apply changes</button>
            </form>
        </div>
        <div class="col" id="classifierDetailSection">
            One of three columns
        </div>
    </div>
</div>

{% endblock %}

{% block scripts %}
<script src="{{url_for('static', filename='javaScript/adminClassifierPage.js')}}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js"
        integrity="sha256-R4pqcOYV8lt7snxMQO/HSbVCFRPMdrhAFMH+vr9giYI=" crossorigin="anonymous"></script>
{% endblock %}