{% extends 'base.html' %}
{% import "bootstrap/wtf.html" as wtf %}

{% block styles %}{% endblock %}
{% block title %} Reset Password {% endblock %}

{% block body %}

{% with messages = get_flashed_messages() %}
{% if messages %}
{% for message in messages %}
<div class="alert alert-danger alert-dismissable" role="alert">
    <button aria-label="close" class="close" data-dismiss="alert" type="button">
        <span aria-hidden="true">x</span>
    </button>
    {{message}}
</div>
{% endfor %}
{% endif %}
{% endwith %}

<form method="POST" action="/resetPassword/{{token}}">
    {{ newPasswordForm.hidden_tag() }}
    {{ wtf.form_field(newPasswordForm.newPassword) }}
    {{ wtf.form_field(newPasswordForm.confirmPassword) }}
    {{ wtf.form_field(newPasswordForm.submit) }}
</form>

{% endblock %}

{% block scripts %} {% endblock %}