<link href="/static/css/navBar.css" rel="stylesheet">

<nav class="main-menu">
    <ul>
        <li class="has-subnav">
            <a href="{{ url_for('classifiers') }}">
                <i class="fa fa-cogs fa-2x"></i>
                <span class="nav-text">
                            Classifiers
                        </span>
            </a>

        </li>
        <li>
            <a href="{{ url_for('users') }}">
                <i class="fa fa-users fa-2x"></i>
                <span class="nav-text">
                                    Users
                                </span>
            </a>
        </li>
        <li>
            <a href="{{ url_for('analyzer') }}">
                <i class="fa fa-search fa-2x"></i>
                <span class="nav-text">
                            Analyzer
                        </span>
            </a>

        </li>
        <li class="has-subnav">
            <a href="{{ url_for('history') }}">
                <i class="fa fa-hdd-o fa-2x"></i>
                <span class="nav-text">
                            History
                        </span>
            </a>

        </li>
        <li class="has-subnav">
            <a href="{{ url_for('profile') }}">
                <i class="fa fa-book fa-2x"></i>
                <span class="nav-text">
                            Profile
                        </span>
            </a>

        </li>
    </ul>

    <ul class="logout">
        <li>
            <a href="{{ url_for('logout') }}">
                <i class="fa fa-power-off fa-2x"></i>
                <span class="nav-text">
                            Logout
                        </span>
            </a>
        </li>
    </ul>
</nav>